<div id="<%= dom_id estu %>">
  <p>
    <strong>Nombres:</strong>
    <%= estu.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= estu.apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estu.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estu.carnet %>
  </p>

  <p>
    <strong>Nacimiento:</strong>
    <%= estu.nacimiento %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= estu.celular %>
  </p>

</div>
